<footer id="footerbar"> 
    <p>Created: 2023/06/08</p>

    <div style="font-size:small">
    <p>© DigitialMebi 2023 -- <a href="">Sitemap</a></p>
    <p>Powered by <a href="https://neocities.org/site/afellowu">Neocities</a> and <a href="https://github.com/AFellowCoderUser/mebi-neocities">Github</a></p>
    </div>

    <p><a href="#">To the top, please.</a></p>
</footer>   